<%=form_for @recipe do |f|%>
<%= f.label :title%>
<%= f.text_field :title %><br><br>
<p>
<%= f.fields_for :ingredients do |ing| %>
<%= ing.label :ingredient %>
<%= ing.text_field :name %>
</p>
<p>
<%= ing.label :quantity %>
<%= ing.text_field :quantity %>
</p>
<%end%>
<%= f.submit %>
<%end%>
